---
argument_specs:
  var_one:
    description: "This is a description for var_one"
    type: str
    required: true
  var_two:
    description: "This is a description for var_two"
    type: int
    required: true
  var_three:
    description: "This is a description for var_three"
    type: dict
