# Version created and populated by setuptools_scm
/src/ansible_creator/_version.py

dist/

build/

*.egg-info

*.ruff_cache/

*.mypy_cache/

*.pytest_cache/

*.tox/

__pycache__/
.cache
_readthedocs
.coverage
coverage.xml
