---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
  skip: # uv not present on pre-commit.ci
    - ansible-lint
    - codecov
    - cspell
    - mypy
    - pydoclint
    - pylint
    - ruff
    - toml
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        priority: 0
  - repo: https://github.com/ansible/actions
    rev: v1.0.0
    hooks:
      - id: toml
        priority: 0
      - id: mypy
        priority: 2
      - id: ruff
        priority: 1
      - id: cspell
        priority: 0
      - id: pylint
        priority: 5
      - id: codecov
        priority: 0
      - id: md
        priority: 0
      - id: ansible-lint
        priority: 1
      - id: pydoclint
        priority: 1
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-sync
      - id: uv-lock
      - id: uv-lock
        name: "deps: upgrade via uv sync --upgrade"
        alias: deps
        args: ["--upgrade"]
        stages: [manual]
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.4.4"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
        priority: 0
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-symlinks
        priority: 0
      - id: debug-statements
        priority: 0
      - id: detect-private-key
        priority: 0
      - id: end-of-file-fixer
        priority: 0
      - id: trailing-whitespace
        priority: 0
  - repo: https://github.com/ansible/team-devtools
    rev: v26.2.0
    hooks:
      - id: check-platform-constraints
        priority: 0
