---
version: 3

images:
  base_image:
    name: {{ ee_base_image }}

dependencies:
  # Use python3
  python_interpreter:
    package_system: python3
    python_path: /usr/bin/python3

  ansible_core:
    package_pip: ansible-core

  ansible_runner:
    package_pip: ansible-runner
{%- if ee_system_packages %}

  system:
{%- for pkg in ee_system_packages %}
    - {{ pkg }}
{%- endfor %}
{%- endif %}
{%- if ee_python_deps %}

  python:
{%- for dep in ee_python_deps %}
    - {{ dep }}
{%- endfor %}
{%- endif %}
{%- if ee_collections %}

  galaxy:
    collections:
{%- for col in ee_collections %}
      - name: {{ col }}
{%- endfor %}
{%- endif %}

additional_build_steps:
  append_base:
    - RUN $PYCMD -m pip install -U pip

options:
  tags:
    - {{ ee_name }}
