---
# See https://github.com/ansible/team-devtools/blob/main/.github/workflows/push.yml
name: push
on:
  push:
    branches:
      - main
      - "releases/**"
      - "stable/**"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  ack:
    uses: ansible/team-devtools/.github/workflows/push.yml@main
