---
name: tox

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  pre:
    name: pre
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.generate_matrix.outputs.matrix }}
    steps:
      - name: Determine matrix
        id: generate_matrix
        uses: coactions/dynamic-matrix@v1
        with:
          min_python: "3.9"
          max_python: "3.12"
          default_python: "3.11"
          other_names: lint

  tox:
    name: ${{ matrix.name }} / python ${{ matrix.python_version }}
    runs-on: ubuntu-20.04
    needs: pre
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.pre.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed by setuptools-scm

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install tox
        run: python3 -m pip install --upgrade "tox>=4.0.2"

      - name: Log Python info (${{ matrix.python_version }})
        run: |
          command -v python
          python --version --version
          python3 -m pip freeze --all

      - name: "tox -e ${{ matrix.passed_name }}"
        continue-on-error: ${{ matrix.devel || false }}
        run: python3 -m tox -e ${{ matrix.passed_name }}

  tox_passed:
    needs: tox
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.tox.result }}',
          ]) == {'success'}"
